@use '../../styles/shared.scss' as shared;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  text-align: center;
  
  // For light background colors, use dark text
  &.white, &.whitegrey, &.whiteblue, &.yellow, &.orange5, &.orange6, &.lightOrange, &.green, &.teal {
    color: shared.$black;
  }
  
  // For all other (darker) colors, use white text
  color: white;
  
  &.splitBackground {
    background: transparent;
    color: white;
  }

  .backgroundSections {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    
    .bgSection {
      height: 100%;
    }
  }

  .backgroundOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
  }

  .content {
    width: 90%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 1; // Ensure content is above the background sections and overlay

    .roundText {
      font-size: 16px;
      margin-bottom: 2rem;
    }

    .subheading {
      font-size: 16px;
      margin-bottom: 2rem;
      margin-top: auto;
    }

    .winningTitle {
      font-size: 16px;
      margin: 2rem 0;
    }
    
    .winningTitles {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .winningTitle {
        margin: 0.5rem 0;
        font-weight: bold;
      }
    }

    .button {
      @include shared.button;
      border: 2px solid black;
      background: white;
      color: black;
      width: 100%;
      max-width: 400px;
      margin: auto auto calc(env(safe-area-inset-bottom) + 20px);

      &:hover {
        background: white;
        opacity: 0.8;
      }
    }
  }
}
