.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    justify-content: space-between;

    .topSection {
        margin-top: 25vh;
        width: 100%;
        font-size: 1.625rem;
    }

    .bottomSection {
        margin-bottom: 10vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            font-size: 1.3125rem;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        gap: 1rem;

        input {
            box-sizing: border-box;
            width: 100%;
            min-height: 48px;
            padding: 0 1rem;
            font-size: 1.125rem;
            border: 2px solid black;
            max-width: 360px;

            @media (max-width: 768px) {
                width: 90%;
            }
        }
    }

    .button {
        border: 2px solid black;
        background-color: white;
        font-size: 1.125rem;
        width: 100%;
        max-width: 360px;
        min-height: 48px;
        padding: 1rem;
        margin: 0.5rem 0;
        cursor: pointer;
        &:hover {
            background-color: #f0f0f0;
        }

        &.create {
            background-color: rgb(34, 34, 34);
            color: white;
            &:hover {
                background-color: rgba(34, 34, 34, 0.8);
            }
        }

        @media (max-width: 768px) {
            width: 90%;
        }
    }

    .or {
        margin: 1rem 0;
    }

    .subtitle {
        margin: 1.3125rem 0;
    }

    .title {
        margin: 1.3125rem 0;
    }
}