@use '../../styles/shared.scss' as shared;

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: -webkit-fill-available;
    justify-content: space-between;
    padding-bottom: max(env(safe-area-inset-bottom), 20px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .topSection {
        margin-top: 25vh;
        margin-bottom: 20vh;
        width: 100%;
        font-size: 1.625rem;
    }

    .bottomSection {
        margin-bottom: max(10vh, env(safe-area-inset-bottom) + 40px);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            font-size: 1.3125rem;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        gap: 1rem;

        input {
            @include shared.input;
        }
    }

    .button {
        @include shared.button;
        &.dark {
            @include shared.button('dark');
        }
    }

    .or {
        margin: 1rem 0;
    }

    .subtitle {
        margin: 1.3125rem 0;
    }

    .title {
        margin: 1.3125rem 0;
    }
}