@use '../../styles/shared.scss' as shared;

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

    .topSection {
        padding-top: 15vh;
        width: 100%;
        font-size: 1.625rem;
    }

    .bottomSection {
        width: 90%;
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto;
        padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
        
        span {
            font-size: 1.3125rem;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        gap: 1rem;

        input {
            @include shared.input;
            width: 100%;
            background-color: rgb(34, 34, 34);
            color: white;
            
            &::placeholder {
                color: rgba(255, 255, 255, 0.7);
            }
        }

        .button {
            @include shared.button;
            width: 100%;
        }
    }

    .button {
        @include shared.button;
        width: 100%;
        
        &.dark {
            @include shared.button('dark');
        }
        
        &.primary {
            @include shared.button('primary');
        }
    }

    .or {
        margin: 1rem 0;
    }

    .subtitle {
        margin: 1.3125rem 0;
    }

    .title {
        margin: 1.3125rem 0;
    }
}