@use '../../styles/shared.scss' as shared;
@use 'sass:color';

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

    .topSection {
        padding-top: 15vh;
        width: 100%;
        font-size: 1.625rem;
    }

    .bottomSection {
        width: 90%;
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto;
        padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
        
        span {
            font-size: 1.3125rem;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        gap: 1rem;

        input {
            @include shared.input;
            & {
                width: 100%;
                background-color: rgb(34, 34, 34);
                color: white;
            }
            
            &::placeholder {
                color: rgba(255, 255, 255, 0.7);
            }
        }

        .button {
            @include shared.button;
            width: 100%;
        }
    }

    .button {
        @include shared.button;
        width: 100%;
        
        &.dark {
            @include shared.button('dark');
        }
        
        &.primary {
            @include shared.button('primary');
        }
    }

    .or {
        margin: 1rem 0;
    }

    .subtitle {
        margin: 1.3125rem 0;
    }

    .title {
        margin: 1.3125rem 0;
    }
}

.warningBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    margin: 1rem;
    background-color: rgba(200, 200, 0, 0.15);
    border: 2px dashed shared.$yellow;
    max-width: 360px;
    width: 90%;
    box-sizing: border-box;

    .warningTitle {
        font-size: 1.1rem;
        font-weight: bold;
        color: shared.$yellow;
        margin-bottom: 0.5rem;
    }

    .warningText {
        font-size: 0.95rem;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.9);
    }

    .contactLink {
        color: shared.$yellow;
        text-decoration: underline;
        cursor: pointer;
        
        &:hover {
            color: color.adjust(shared.$yellow, $lightness: 10%);
        }
    }
}